# Data Science Tools and Ecosystem

## Author
Guillaume Rospape

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Convert minutes to hours
- Create a simple table
- Arithmetic expression

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Scala
5. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Scikit-Learn
4. TensorFlow
5. Matplotlib

| Data Science Tools |
| ------------- |
| Jupyter Notebook |
| RStudio | 
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

In [24]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

[1] 17

In [22]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes/60 
print(hours)

[1] 3.333333